.simulador-parcelamento {
    display: flex;
    flex-wrap: wrap;
}

.simulador-parcelamento-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.simulador-parcelamento-column {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.simulador-parcelamento-item {
    margin-bottom: 10px;
}

/* Adicione outras regras CSS de acordo com as suas necessidades */
.simulador-parcelamento .loading {
    font-size: 16px;
    color: #888;
}
